<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="kmlExtension" class="org.geoserver.platform.ModuleStatusImpl">
    <constructor-arg index="0" value="gs-kml" />
    <constructor-arg index="1" value="GeoServer KML" />
  </bean>

  <bean id="KMLEncoder" class="org.geoserver.kml.KMLEncoder" />

  <bean id="WFSKMLOutputFormat" class="org.geoserver.kml.WFSKMLOutputFormat">
    <constructor-arg ref="KMLEncoder" />
    <constructor-arg ref="geoServer" />
  </bean>

  <!-- kml kvp parsers -->
  <bean id="superOverlayKvpParser" class="org.geoserver.ows.kvp.BooleanKvpParser">
    <constructor-arg value="superoverlay" />
  </bean>
  <bean id="legendKvpParser" class="org.geoserver.ows.kvp.BooleanKvpParser">
    <constructor-arg value="legend" />
  </bean>
  <bean id="kmatrrKvpParser" class="org.geoserver.ows.kvp.BooleanKvpParser">
    <constructor-arg value="kmattr" />
  </bean>
  <bean id="kmscoreKvpParser" class="org.geoserver.ows.kvp.IntegerKvpParser">
    <constructor-arg value="kmscore" />
  </bean>
  <bean id="kmplacemarkKvpParser" class="org.geoserver.ows.kvp.BooleanKvpParser">
    <constructor-arg value="kmplacemark" />
  </bean>

</beans>